<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- deleted 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd"> -->
<!-- added -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cardcc>
                <active>1</active>
                <title>Netopia</title>
                <debug>1</debug>
                <signature>Admin-Conturi comerciant-Modifica-Setari securitate</signature>
                <order_status>pending_payment</order_status>
                <instructions>Leave blank</instructions>
                <description>Netopia magento2</description>
                <payment_action>true</payment_action>
                <model>Mobilpay\Credit\Model\Cardcc</model>
                <group>offline</group>
            </cardcc>
            <!-- payment-config -->
        </payment>
    </default>
</config>
