<?xml version="1.0"?>
<config>
   <sections>
        <payment>
            <groups>
                <mobilpay_cc translate="label" module="cc">
                     <!-- Nom du module de paiement dans la partie administration -->
                    <label>MobilPay Credit Card</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <!-- liste des champs de saisie contenus dans le block -->
                    <fields>
           <active translate="label">
                            <!-- champ qui precise si le module est actif ou non -->
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>

           <debug translate="label">
                            <!-- champ qui precise si le module est actif ou non -->
                            <label>Enable test mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>

            <order_status translate="label">
                            <!-- statut de la commande suite au choix dudit moyen de paiement -->
                            <label>New order status, when redirecting the user to mobilpay</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
						
            <order_status_confirmed_pending translate="label">
                            <!-- statut de la commande suite au choix dudit moyen de paiement -->
                            <label>Pending verification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_confirmed_pending>
						
            <order_status_confirmed translate="label">
                            <!-- statut de la commande suite au choix dudit moyen de paiement -->
                            <label>Payed / Confirmed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_confirmed>
            <order_status_paid_pending translate="label">
                            <!-- statut de la commande suite au choix dudit moyen de paiement -->
                            <label>Pending</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_paid_pending>
            <order_status_paid translate="label">
                            <!-- statut de la commande suite au choix dudit moyen de paiement -->
                            <label>Open</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_paid>
            <order_status_canceled translate="label">
                            <!-- statut de la commande suite au choix dudit moyen de paiement -->
                            <label>Canceled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_canceled>
            <order_status_credit translate="label">
                            <!-- statut de la commande suite au choix dudit moyen de paiement -->
                            <label>Credited / Refunded</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_credit>



						
						
						
            <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>

         <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>

         <signature translate="label">
                            <label>Signature ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </signature>

         <description translate="label">
                            <label>Shopping Cart Description</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </description>

         <allowspecific translate="label">
                            <label>Payment to applicable countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>17</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>
          <specificcountry translate="label">
                            <label>Payment to Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>18</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>

                        <model>
                        </model>
                    </fields>
                </mobilpay_cc>
            </groups>
        </payment>
    </sections>
</config>